/*
font-family: 'Gravitas One', cursive;
font-family: 'Arima Madurai', cursive;
*/
body {
  background-color: #2f7674;
  color: #daa97a;
  font-family: "Arima Madurai", cursive;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#clock {
  background-color: #b0654b;
  color: #6bb9b3;
  width: 250px;
  margin-top: 0px;
  float: left;
  font-size: 25px;
  margin: 0px 50px 50px 100px;
  padding-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px #6bb9b3;
}
#status {
  font-size: 35px;
}
#timer {
  font-family: "Gravitas One", cursive;
  font-size: 50px;
  margin: -10px 0px 0px 0px;
}
#start-pause {
  background-color: #daa97a;
  border: 2px solid #2f7674;
  color: #2f7674;
  width: 100px;
  margin-left: 75px;
  box-shadow: 0px 5px 5px #6bb9b3;
  cursor: pointer;
}
#reset {
  display:none;
  background-color: #daa97a;
  border: 2px solid #2f7674;
  color: #2f7674;
  width: 100px;
  margin-left: 75px;
  box-shadow: 0px 5px 5px #6bb9b3;
  cursor: pointer;
}
#credits {
  margin-top: 100px;
  font-size: 10px;
  color: black;
}
#controls {
  padding-top: 100px;
}
#controls p {
  margin: 0px;
}
#sessionTime {
  float: left;
  margin: 15px;

}
#breakTime {
  float: left;
  margin: 15px;
}
.session-timeControls-plus, .break-timeControls-plus {
  float: left;
  padding-left: 20px;
  padding-right: 10px;
}
.session-time, .break-time {
  font-family: "Gravitas One", cursive;
  font-size: 50px;
}
.session-timeControls-plus, .session-timeControls-minus, .break-timeControls-plus, .break-timeControls-minus {
  text-shadow: 2px 2px 5px black;
  font-size: 35px;
  cursor: pointer;
}
