/*
font-family: 'Gravitas One', cursive;
font-family: 'Arima Madurai', cursive;
*/
html {
  font-size: 3.5em;
}
body {
  background-color: #2f7674;
  color: #daa97a;
  font-family: "Arima Madurai", cursive;
  font-size: 62.5%;
  font-weight: bold;
  text-align: center;
}
h1 {
  font-size: 2em;
}
#clock {
  background-color: #b0654b;
  border-radius: 10px;
  box-shadow: 0px 5px 5px #6bb9b3;
  color: #6bb9b3;
  float: left;
  margin: 0% 8.333333333% 8.333333333% 16.666666667%;
  margin-top: 0%;
  padding-bottom: 2% ;/*5px*/
  width: 300px;
}
#status {
  font-size: 1.25em;
}
.timer-container {
  font-family: "Gravitas One", cursive;
  font-size: 1.65em;
  margin: -10px 0px 0px 0px;
  display: inline-block;
  margin: -10px;
}
#minutes, #colon, #seconds {
  display: inline-block;
  margin-left: -10px;
}
#start-pause {
  background-color: #daa97a;
  border: 2px solid #2f7674;
  color: #2f7674;
  width: 100px;
  margin-left: 30%;
  box-shadow: 0px 5px 5px #6bb9b3;
  cursor: pointer;
}
#pause {
  display:none;
  background-color: #daa97a;
  border: 2px solid #2f7674;
  color: #2f7674;
  width: 100px;
  margin-left: 30%;
  box-shadow: 0px 5px 5px #6bb9b3;
  cursor: pointer;
}
#reset {
  display:none;
  background-color: #daa97a;
  border: 2px solid #2f7674;
  color: #2f7674;
  width: 100px;
  margin-left: 30%;
  box-shadow: 0px 5px 5px #6bb9b3;
  cursor: pointer;
}
#credits {
  margin-top: 100px;
  font-size: .5em;
  color: black;
}
#controls {
  padding-top: 100px;
}
#controls p {
  margin: 0px;
}
#sessionTime {
  float: left;
  margin: 15px;
}
#breakTime {
  float: left;
  margin: 15px;
}
.session-timeControls-plus, .break-timeControls-plus {
  float: left;
  padding-left: 20px;
  padding-right: 10px;
}
.session-time, .break-time {
  font-family: "Gravitas One", cursive;
  font-size: 2em;
}
.session-timeControls-plus, .session-timeControls-minus, .break-timeControls-plus, .break-timeControls-minus {
  text-shadow: 2px 2px 5px black;
  font-size: 1.5em;
  cursor: pointer;
}
